## Project Part
.idea/
.tmp/
.vscode/

## Python Part

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

local_settings.py
model_design.py

media

common/data

home_application/templates/home_application/index.html

# static

error_log.json
